.willesPlay {
  margin: 0 auto;
  height: 460px;
  width: 840px;
  background-color: red;
}
.vedioplayer-content-total {
  width: 100%;
}
.vedioplayer-content-total .vedioplayer-content {
  width: 1080px;
  margin: 0 auto;
  padding-top: 35px;
}
.vedioplayer-content-total .vedioplayer-content .vedioplayer-usercard {
  height: 72px ;
  width: 840px;
  margin: 0 auto;
  margin-top: 45px;
}
.vedioplayer-content-total .vedioplayer-content .vedioplayer-usercard img {
  height: 72px;
  width: 72px;
  float: left;
}
.vedioplayer-content-total .vedioplayer-content .vedioplayer-usercard .vedioplayer-user-h {
  height: 72px;
  float: left;
  margin-left: 12px ;
}
.vedioplayer-content-total .vedioplayer-content .vedioplayer-usercard .vedioplayer-user-h h1 {
  height: 26px;
  line-height: 26px;
  font-size: 18px;
  font-weight: normal;
  color: #FFFFFF;
}
.vedioplayer-content-total .vedioplayer-content .vedioplayer-usercard .vedioplayer-user-h h2 {
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  font-weight: normal;
  color: #7b7b7b;
}
.vedioplayer-content-total .vedioplayer-content .vedioplayer-usercard .vedioplayer-user-h h3 {
  height: 26px;
  line-height: 26px ;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}
.vedioplayer-content-total .vedioplayer-content .vedioplayer-prop {
  margin: 0 auto;
  height: 50px ;
  width: 820px;
  padding-right: 20px ;
  padding-top: 30px ;
}
.vedioplayer-content-total .vedioplayer-content .vedioplayer-prop .vedioplayer-title {
  height: 24px;
}
.vedioplayer-content-total .vedioplayer-content .vedioplayer-prop .vedioplayer-title p {
  float: left;
  height: 24px;
  font-size: 22px;
  line-height: 24px;
  margin-right: 20px;
  color: #fff;
}
.vedioplayer-content-total .vedioplayer-content .vedioplayer-prop .vedioplayer-title span {
  float: left;
  height: 14px;
  padding-top: 10px;
  line-height: 14px;
  font-size: 14px;
  color: #999;
}
.vedioplayer-content-total .vedioplayer-content .vedioplayer-prop h1 {
  font-weight: normal;
  height: 16px;
  line-height: 16px;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}
.vedioplayer-content-total .vedioplayer-content .middle-title {
  height: 20px;
  line-height: 20px;
  margin-top: 75px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.vedioplayer-content-total .vedioplayer-content .comment {
  width: 840px;
  margin: 0 auto;
}
.vedioplayer-content-total .vedioplayer-content .comment ul {
  width: 100%;
}
.vedioplayer-content-total .vedioplayer-content .comment ul li {
  padding: 27px 30px 15px 30px;
  width: 780px;
  border-bottom: 1px solid #535353;
}
.vedioplayer-content-total .vedioplayer-content .comment ul li .comment-title {
  height: 18px;
}
.vedioplayer-content-total .vedioplayer-content .comment ul li .comment-title em {
  font-style: normal;
  float: left;
  line-height: 18px;
  font-size: 18px;
  color: #fff;
}
.vedioplayer-content-total .vedioplayer-content .comment ul li .comment-title span {
  float: right;
  line-height: 18px;
  font-size: 16px;
  color: #929292;
}
.vedioplayer-content-total .vedioplayer-content .comment ul li p {
  width: 700px;
  margin-top: 17px;
  line-height: 15px;
  font-size: 15px;
  color: #fff;
}
.vedioplayer-content-total .vedioplayer-content .comment ul li .comment {
  width: 100%;
}
.vedioplayer-content-total .vedioplayer-content .comment ul li .comment-img img {
  height: 70px;
  width: 70px;
  margin-top: 15px;
  margin-right: 10px;
  float: left;
  background-color: gold;
}
.vedioplayer-content-total .vedioplayer-content .comment ul li:after {
  content: "";
  display: block;
  clear: both;
}
